* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* background-colors */
  --bg-color-main-cream: rgb(248, 247, 243);
  --bg-color-main-white: rgb(255, 255, 255);
  --bg-color-dark: rgb(48, 48, 48);

  /* pre-header */
  --clr-pre-header: rgb(107, 107, 106);

  /* fonts */
  --ff-standard-noto-sans: "Noto Sans", sans-serif;
  --ff-option-noto-serif: "Noto Serif", serif;
  --text-color-standard: rgb(63, 63, 63);
  --text-color-button: rgb(48, 48, 48);
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fs-heading: 2.9375rem;
  --fs-heading-tablet: 2.5rem;
  --fs-heading-mobile: 2rem;
  --fs-blurb: 1.5rem;

  /* button padding */
  --padding-button: 1rem 2rem;
  --border-radius-button: 1.5rem;
  --bg-color-button: rgb(233, 231, 220);
}

html {
  font-size: 16px;
  font-family: var(--ff-standard-noto-sans);
}

.container,
.container_services {
  max-width: 80rem;
  min-width: 21.875rem;
  margin-inline: auto;
}
.pre-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-main-cream);
  padding: 1rem;
  font-size: 0.625rem;
  text-transform: uppercase;
  color: var(--clr-pre-header);
}

/***** navbar *****/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  background-color: var(--bg-color-main-white);
  border-top: 1px solid rgba(150, 150, 150, 0.5);
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  height: 56px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar .logo {
  max-width: 2rem;
}

.navbar .logo img {
  width: 100%;
}

.navbar .navbar_links {
  display: flex;
}
.navbar .navbar_links a {
  text-decoration: none;
  padding: 18px 24px;
  color: rgb(71, 71, 71);
  position: relative;
  font-size: 15px;
  font-weight: 300;
}

.navbar_links a::before {
  content: "";
  background-color: grey;
  height: 20px;
  width: 1px;
  position: absolute;
  left: 0;
}
.navbar_links a:first-child::before {
  content: none;
}

.navbar_links a::after {
  content: "";
  width: calc(100% - 32px);
  height: 3px;
  background-color: rgb(129, 125, 115);
  position: absolute;
  left: 16px;
  bottom: 0;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar_links a:hover {
  opacity: 0.75;
}

.navbar_links a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

/***** Hamburger *****/
.navbar .hamburger {
  width: 50px;
  height: 50px;
  display: none;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger div {
  background-color: var(--bg-color-dark);
  width: 20px;
  height: 1px;
  margin: 3px;
  border-radius: 10px;
}
.animateBar1 {
  animation: flipBar1 0.5s;
  animation-fill-mode: forwards;
}
.animateBar2 {
  animation: fadeBar2 0.5s;
  animation-fill-mode: forwards;
}
.animateBar3 {
  animation: flipBar3 0.5s;
  animation-fill-mode: forwards;
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(5px, 5px);
  }
}
@keyframes fadeBar2 {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

/* ***** mobile nav ***** */
.mobileNav {
  display: none;
}

/* ********** main ********** */
.revolutionise,
.landing,
.services,
.design,
.maintenance,
.wd-services,
.wm-services,
.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--bg-color-main-cream);
  min-height: 80vh;
  padding: 4rem 2rem;
}
.laptop-screen img,
.screen-construction img,
.computer-arms img,
.screen-on-desk img,
.wrentch img,
.wd-services img,
.wm-services img,
.spinning-wheel div img {
  width: 100%;
}
.revolutionise .blurb,
.landing .blurb,
.services .blurb,
.design .blurb,
.maintenance .blurb,
.wd-services .blurb,
.wm-services .blurb,
.spinning-wheel .blurb,
.about-us .blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4rem;
}
.revolutionise .blurb h1,
.revolutionise .blurb p,
.landing .blurb h1,
.landing .blurb p,
.services .blurb h1,
.services .blurb p,
.design .blurb h1,
.design .blurb p,
.maintenance .blurb h1,
.maintenance .blurb p,
.wd-services .blurb h1,
.wd-services .blurb p,
.wm-services .blurb h1,
.wm-services .blurb p,
.spinning-wheel .blurb h1,
.spinning-wheel .blurb p,
.about-us .blurb h1,
.about-us .blurb p {
  text-align: center;
}
.revolutionise .blurb h1,
.landing .blurb h1,
.services .blurb h1,
.design .blurb h1,
.maintenance .blurb h1,
.wd-services .blurb h1,
.wm-services .blurb h1,
.about-us .blurb h1 {
  color: var(--text-color-standard);
  font-weight: 500;
  font-size: var(--fs-heading);
}
.revolutionise .blurb p,
.landing .blurb p,
.services .blurb p,
.design .blurb p,
.maintenance .blurb p,
.wd-services .blurb p,
.wm-services .blurb p,
.spinning-wheel .blurb p,
.about-us .blurb p {
  color: var(--text-color-standard);
  font-weight: 300;
  font-size: 1.5rem;
  margin: 4rem 0;
}
button {
  padding: var(--padding-button);
  border-radius: var(--border-radius-button);
  border: none;
  color: var(--text-color-button);
  background-color: var(--bg-color-button);
  font-family: var(--ff-standard-noto-sans);
  font-weight: var(--fw-400);
  font-size: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
button:hover {
  transition: all 1s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.landing button {
  padding: 2rem 4rem;
  border-radius: 3rem;
}
.services_button1 {
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}
.services_button2 {
  padding: 1rem 2rem;
}

.design {
  background-color: var(--bg-color-main-white);
}
.design .blurb {
  padding-inline: 3.47rem;
}
.maintenance {
  background-color: var(--bg-color-main-cream);
}
.maintenance .blurb {
  padding-inline: 2rem;
}

/* ***** services ***** */
.wd-services {
  background-color: var(--bg-color-main-cream);
}
.wm-services {
  background-color: var(
    --bg-color-main-white
  ); /*this may be overriding color in main section*/
}

/* ***** spinning wheel ***** */
.spinning-wheel_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
}
.spinning-wheel_wrapper .blurb p {
  padding-top: 3rem;
}
/* ***** about-us ***** */
.about-us {
  background-color: var(--bg-color-main-cream);
}
.about-us_recording video {
  width: 100%;
}
.about-us_recording {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.about-us_recording iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ***** Banner ***** */
.banner-wrapper {
  min-height: 80vh;
  background-color: var(--bg-color-main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 70%;
  background-color: black;
  padding: 1rem;
}
.banner-img_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 1rem; */
  position: relative;
}
.banner-img_wrapper img {
  max-width: 300px;
}
.banner-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-wrapper div > p {
  color: white;
  text-transform: uppercase;
  font-size: var(--fs-heading);
  letter-spacing: 5px;
}
.screen-word {
  position: absolute;
  top: 20%;
}
.banner-img_wrapper button {
  margin: 2rem 0;
  width: 268px;
}

/* ***** maintenance ***** */

.maintenance {
  background-color: var(
    --bg-color-main-white
  ); /*this may be overriding color in main section*/
}

/* ********* CARDS ************ */
.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: 300;
}

.cards {
  padding: 1rem;
}

.cards h1 {
  margin-top: 1rem;
  text-align: center;
  color: var(--text-color-standard);
  font-weight: 500;
  font-size: var(--fs-heading);
}
.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}

.card1,
.card2,
.card3 {
  text-align: center;
  min-width: 305px;
}
.card1 h3,
.card2 h3,
.card3 h3 {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--ff-option-noto-serif);
  letter-spacing: 0;
}

.card_grid {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 300px;
  border: 5px solid black;
  border-radius: 10px;
  margin-top: 1rem;
  background-color: var(--bg-color-main-cream);
}
.cards_services-bg {
  background-color: var(--bg-color-main-cream);
}
.card_grid_services-bg-color {
  background-color: var(--bg-color-main-white);
}
.cards_logo-wrapper {
  width: 5rem;
  margin: 1rem;
}
.cards_logo-wrapper > img {
  width: 100%;
}

.cards_features-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.cards_features-info h2 {
  margin-bottom: 1rem;
}
.cards_features-info p {
  line-height: 1.5;
  font-weight: 300;
}

.features-list-wrapper {
  display: inline-block;
  margin: 0 auto;
}
.cards_features-info ul {
  list-style-type: none;
}
.cards_features-info li::before {
  content: "- ";
}
.cards_features-info button {
  margin-top: 1rem;
}

/* ********** Footer ********** */
.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  background-color: rgb(238, 252, 255);
  font-weight: 300;
}
.footer-left p {
  padding-bottom: 2rem;
  text-align: center;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}
.footer-right p {
  padding-bottom: 2rem;
}
.footer-right p:first-of-type {
  font-weight: 700;
}
.footer-right span {
  align-self: flex-end;
  margin: 0 auto;
  font-size: 0.8rem;
}

.footer-logo {
  max-width: 6rem;
}
.footer-logo img {
  width: 100%;
}

/* ********** MEDIA QUIERIES ********** */
@media only screen and (max-width: 1185px) {
  .card1 h3,
  .card2 h3,
  .card3 h3 {
    padding-inline: 3rem;
  }
  .cards_wrapper {
    padding-inline: 0px;
  }
}

@media only screen and (max-width: 970px) {
  .revolutionise,
  .landing,
  .services,
  .design,
  .maintenance,
  .wd-services,
  .wm-services,
  .spinning-wheel,
  .about-us {
    grid-template-columns: 1fr;
  }
  .revolutionise .blurb,
  .landing .blurb,
  .services .blurb,
  .design .blurb,
  .maintenance .blurb,
  .wd-services .blurb,
  .wm-services .blurb,
  .about-us .blurb {
    padding-top: 4rem;
  }
  .revolutionise .blurb h1,
  .landing .blurb h1,
  .services .blurb h1,
  .design .blurb h1,
  .maintenance .blurb h1,
  .wd-services .blurb h1,
  .wm-services .blurb h1,
  .spinning-wheel .blurb h1,
  .about-us .blurb h1,
  .banner-wrapper div > p {
    font-size: var(--fs-heading-tablet);
  }
  .revolutionise .blurb p,
  .landing .blurb p,
  .services .blurb p,
  .design .blurb p,
  .maintenance .blurb p,
  .wd-services .blurb p,
  .wm-services .blurb p,
  .spinning-wheel .blurb p,
  .about-us .blurb p {
    margin: 4.5rem 0;
  }
  /* ***** cards ***** */
  .cards_wrapper {
    grid-template-columns: 1fr;
  }
  .card1,
  .card2,
  .card3 {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: static;
  }
  .navbar .navbar_links,
  .magnifying-glass {
    display: none;
  }
  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    /* opacity: 0; */
  }
  .mobileNav_banner {
    width: 100%;
    /* height: 3.43rem; */
    height: 46px;
    position: relative;
    background-color: rgb(243, 242, 235);
  }
  .mobileNav-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2px;
    right: 0;
  }
  .mobileNav-close span {
    display: inline-block;
    width: 20px;
    height: 1px;
    margin: 3px;
    border-radius: 10px;
    background-color: var(--bg-color-dark);
  }
  .mobileNav-close .bar1 {
    transform: rotate(45deg) translate(2px, 3px);
  }
  .mobileNav-close .bar2 {
    transform: rotate(-45deg) translate(2px, -3px);
  }
  .mobileNav {
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 247, 243, 0.5);
    width: 70%;
    height: 100vh;
    /* padding-top: 3.43rem; */
    position: fixed;
    right: -100%;
    top: 0;
    /* transition: transform 0.5s; */
    transition: all 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
  .mobileNav a {
    padding: 1rem 2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    text-decoration: none;
    color: var(--text-color-standard);
    font-weight: 300;
  }
  .mobileNav a:last-of-type {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }
  .mobileNav a:hover {
    font-weight: 400;
  }
  /* ***** mobile banner */
  .banner {
    grid-template-columns: 1fr;
    width: 100%;
    position: relative;
  }
  .banner-img_wrapper button {
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    /* width: 268px; */
    box-sizing: border-box;
  }
  .b-b-mobile {
    position: absolute;
    top: 65%;
    left: 50%;
    right: 50%;
  }

  /* ***** mobile footer */
  .footer_container {
    padding: 2rem;
  }
}
.mobileNavDrawerOpen {
  right: 0;
}

@media only screen and (max-width: 480px) {
  .revolutionise .blurb,
  .landing .blurb,
  .services .blurb,
  .design .blurb,
  .maintenance .blurb,
  .wd-services .blurb,
  .wm-services .blurb,
  .spinning-wheel .blurb,
  .about-us .blurb {
    padding-inline: 1.5rem;
  }
  .revolutionise .blurb h1,
  .landing .blurb h1,
  .services .blurb h1,
  .landing .blurb h1,
  .wd-services .blurb h1,
  .wm-services .blurb h1,
  .spinning-wheel .blurb h1,
  .about-us .blurb h1 {
    font-size: var(--fs-heading-mobile);
  }
  .revolutionise .blurb p,
  .landing .blurb p,
  .services .blurb p,
  .design .blurb p,
  .maintenance .blurb p,
  .wd-services .blurb p,
  .wm-services .blurb p,
  .spinning-wheel .blurb p,
  .about-us .blurb p {
    margin: 4rem 0;
  }
  .footer_container {
    padding: 1rem;
    font-size: 0.9rem;
  }
}
