/* @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.resize-animation-stopper * {
  /* -moz-animation: none !important;
    -moz-transition: none !important; */
  animation: none !important;
  transition: none !important;
}

/* CUSTOM FONTS */
:root {
  --ff-font: "Noto Serif", serif;
  --fw-400: 400;
  --fw-700: 700;
  --clr-bg: rgb(248, 247, 243);
}
body {
  overflow-x: hidden;
}

html {
  font-family: var(--ff-font);
}
.container {
  max-width: 81rem;
  margin-inline: auto;
}

/* PRE-HEADER SECTION */
.pre-header {
  padding: 0.5rem;
  text-align: center;
  background-color: var(--clr-bg);
}
.pre-header__welcome > span {
  font-size: 0.8rem;
}

.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.37);
}

/* NAVIGATION INC HAMBURGER */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
}

.navbar > a {
  display: flex;
}

.nav-logo {
  width: 3rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  border-right: 2px solid grey;
  padding-inline: 1rem;
}

.nav-link {
  font-size: 1rem;
  color: var(--ff-font);
}
.nav-item.view > .nav-link,
.nav-link:hover {
  color: #777;
}

.mag-search {
  font-size: 1rem;
  padding-left: 1.5rem;
}

/* Hamburger */
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

/* Mobile nav before screen change */
.mobile-container {
  display: none;
  width: 100%;
}
.mobile-newsletter {
  padding-right: 10%;
}

/* DROPDOWN NAVBAR */
.d-flex {
  display: flex;
}
.d-flex.mega-inside {
  justify-content: space-around;
  padding: 2rem;
}

.sub-menu__drop {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  top: 100%;
  left: 0%;
  right: 0%;
  /* display: block; */
  z-index: 10;
  background: #f8f7f3;
  transform: translateY(-10px);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.mega-sub-nav {
  display: block;
  width: 220px;
}
.mega-sub-nav li {
  text-align: left;
  line-height: 28px;
  font-size: 0.8rem;
}

.image-wrapper {
  justify-content: flex-start;
  gap: clamp(2rem, 4rem, 6rem);
}

.post__related-wrapper img {
  width: 318px;
}

.nav-item.view > .has-nav-hover + .sub-menu__drop {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* SCREEN SIZE CHANGE */
@media only screen and (max-width: 885px) {
  .nav-menu {
    position: absolute;
    right: -100%;
    flex-direction: column;
    top: 100%;
    background-color: #f8f7f3ae;
    width: 80%;
    margin-left: 20%;
    border-radius: 0.5rem;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1000;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-item {
    padding: 1.25rem;
    border-right: none;
    border-bottom: 1px solid #cccaca;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .mag-search {
    display: none;
  }
  .mag-search.active {
    display: block;
  }

  /* navbar change */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7.5px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7.5px) rotate(-45deg);
  }

  /* MOBILE CONTAINER */

  .mobile-container.active {
    display: block;
    margin-top: 5rem;
  }
  .mobile-newsletter form legend {
    margin-bottom: 1rem;
  }
  .mobile-newsletter form fieldset {
    padding: 1rem;
  }
  .mobile-social {
    margin-top: 1.5rem;
    padding: 1rem 0.5rem;
    border-top: 1px solid #cccaca;
  }
  .mobile-social span {
    padding-left: 2rem;
  }
  .mobile-social > span:nth-of-type(1) {
    padding-left: 0.5rem;
  }
  /* .has-nav-hover:hover + .sub-menu__drop {
      position: absolute;
      opacity: 1;
      visibility: visible;
      top: 0;
      right: 0;
      transition: none;
    } */
  .mega-inside {
    display: none;
  }
}

/* ******** MAIN - SECTION ******** */
.home {
  /* max-width: 81rem; */ /* max-width is taken from site container */
  /* margin-inline: auto; */ /* this is also take from site container*/
  padding-inline: 1.5rem;
  border: 3px solid hotpink;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--clr-bg);
  padding: 4rem 2rem;
}
.home__screen_arms {
  /* border: 3px solid blue; */
}
.home__screen_arms img {
  width: 100%;
  padding-top: 1.5rem;

  /* padding-top: 1rem; */
}
.home__blurb {
  /* border: 3px solid greenyellow; */
  /* padding-top: 1rem; */
  text-align: center;
}
.home__blurb h1 {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(63, 63, 63);
}
.home__blurb p {
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(63, 63, 63);
}
.home__blurb button {
  background-color: #fff;
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  -webkit-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.75);
}
.home__blurb button:hover {
  -webkit-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1200px) {
  .home {
    display: block;
  }
  .home__blurb h1 {
    font-size: 2.5rem;
  }
  .home__blurb button {
    font-size: 1.5rem;
  }
}

.services__design-packages {
  background-color: #fff;
  padding-inline: 1.5rem;
  border: 3px solid orange;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 4rem 2rem;
}
.services__design-packages img {
  width: 100%;
  padding-top: 1.5rem;
}
.services__design-packages__blurb h1 {
  padding: 1rem;
  font-size: 2rem;

  color: rgb(63, 63, 63);
}
.services__design-packages__blurb p {
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(63, 63, 63);
}
.services__design-packages__button {
  background-color: var(--clr-bg);
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
@media only screen and (max-width: 1100px) {
  .services__design-packages {
    display: block;
  }
}

/* from previous services page with two buttons */
/* .services__button-wrapper {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} */
/* .services__button-wrapper .services__button {
  background-color: var(--clr-bg);
  flex: 1;
  min-width: 242px;
  max-width: 474px;
  margin: 1rem;
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
} */

.services__maintenance-packages {
  background-color: var(--clr-bg);
  padding-inline: 1.5rem;
  border: 3px solid orange;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 4rem 2rem;
}
.services__maintenance-packages img {
  width: 100%;
  padding-top: 1.5rem;
}
.services__maintenance-packages__blurb h1 {
  padding: 1rem;
  font-size: 2rem;

  color: rgb(63, 63, 63);
}
.services__maintenance-packages__blurb p {
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(63, 63, 63);
}
.services__maintenance-packages__button {
  background-color: #fff;
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
@media only screen and (max-width: 1100px) {
  .services__maintenance-packages {
    display: block;
  }
}

.portfolio {
  border: 3px solid purple;
  background-color: var(--clr-bg);
  min-height: 80vh;
  text-align: center;
  padding: 4rem 2rem;
}
.portfolio h1 {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(63, 63, 63);
}
.portfolio__blurb p {
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(63, 63, 63);
}
.portfolio__button {
  background-color: #fff;
  margin: 1rem;
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.about {
  border: 3px solid purple;
  background-color: #fff;
  min-height: 80vh;
  text-align: center;
  padding: 4rem 2rem;
}
.about h1 {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(63, 63, 63);
}
.about__blurb p {
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(63, 63, 63);
}
.about__button {
  background-color: var(--clr-bg);
  margin: 1rem;
  padding: 2rem 4rem;
  border: 0.2rem solid black;
  font-size: 1rem;
  font-weight: 700;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.about_irwm_iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;

  -webkit-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
}
.about_irwm_iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;

  -webkit-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
}

/* ***** FLIP CARD ***** */
.flip-card_container {
  max-width: 500px;
  color: white;
  margin: auto;
  padding: 2rem 0;
  text-align: center;
  max-width: 380px;
}
.flip-card_front {
  background-color: #024395;
  padding: 2rem;
}
.flip-card_front h3,
.flip-card_front p,
.flip-card_back h3,
.flip-card_back p {
  margin-bottom: 5rem;
}
.flip-card_button-front {
  background-color: #d21849;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 2rem;
}
.flip-card_back {
  background-color: #d21849;
  padding: 2rem;
}
.flip-card_button-back {
  background-color: #024395;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 2rem;
}
.flip-card_button-front:hover,
.flip-card_button-back:hover {
  -webkit-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 51px -4px rgba(0, 0, 0, 0.75);
}
